
.carousel-control-next,
.carousel-control-prev {
  margin-bottom: -33px !important;
  align-items: end !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: inline-block;
  width: 1.5rem !important;
  height: 1.5rem !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.carousel-indicators {
  margin-bottom: -33px !important;
}

.carousel-indicators [data-bs-target] {
  background-color: #000 !important;
  width: 5px !important;
  border-radius: 50% !important;
  height: 5px !important;
  padding: 0 !important;
  margin-right: 6px !important;
  margin-left: 6px !important;
}

.product-image-container {
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 1.5rem !important;
  padding-left: 3rem !important;
}

.product-container {
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}

.product-page-reviews a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.product-page-reviews span {
  text-decoration: underline;
}

.product-page-reviews p {
  margin: 0;
  padding: 0;
}

.product-container h3 {
  font-weight: bold;
  margin: 0;
  padding: 0.4rem 0;
}

.compare-at-price {
  text-decoration: line-through;
}

.sale-price {
  color: #4a7630;
}

.price {
  font-weight: bold;
  font-size: 23px;
  padding-right: 5%;
}

.price-breakdown-box {
  background: #4a7630;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
}

.text-lg-end {
  text-align: right;
}

hr {
  margin: 0rem 0 !important;
}

.tooltip-custom {
  position: relative;
  display: inline-flex;
  flex-direction: column;
}

.tooltiptext-custom {
  visibility: hidden;
  width: auto;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 999;
}

.tooltip-custom:hover .tooltiptext-custom {
  visibility: visible;
}

.sizeChart {
  width: auto;
  font-size: 50%;
  max-width: 100%;
  color: #10173a;
  font-weight: 700;
  text-transform: uppercase;
}
.sizeChart thead {
  background: #000 !important;
  color: #fff;
}
.sizeChart tr:nth-child(even) {
  background: #f4f4f4;
}

.sizeChart tr:nth-child(odd) {
  background: #fff;
}

.sizeChart tbody tr td:first-child {
  font-size: 1em;
}

.product-main-sizes table {
  width: 100%;
}

.table-size {
  font-size: 0.7em;
}

.product-main-sizes p {
  font-size: 0.8em;
  margin: 1rem 0 0.5rem 0;
}

.main-product .btn {
  --bs-btn-border-radius: 0rem !important;
  margin-right: 0.5em !important;
}

.main-product .btn-outline-primary {
  font-weight: bold !important;
  --bs-btn-color: #000 !important;
  --bs-btn-border-color: #d5d5d5 !important;
  --bs-btn-bg: #d5d5d5 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0d6efd;
  --bs-btn-hover-border-color: #0d6efd;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000 !important;
  --bs-btn-active-border-color: #000 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

.main-product .btn-primary {
  width: 100% !important;
  font-size: 1.3em;
  font-weight: bold !important;
  --bs-btn-color: #fff !important;
  --bs-btn-border-color: #000 !important;
  --bs-btn-bg: #000 !important;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #272727;
  --bs-btn-hover-border-color: #272727;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #000 !important;
  --bs-btn-active-border-color: #000 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #0d6efd;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #0d6efd;
  --bs-gradient: none;
}

.product-price-row p {
  margin: 0;
}

.benefits-box-product-page {
  background-color: #efefef;
  padding: 1em;
  font-weight: bold;
}

.benefits-box-product-page li {
  list-style: none;
  font-size: 2vh;
  padding: 0.3em 0;
}

.satisfaction-box-product-page {
  background-color: #333333;
  padding: 1em;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.satisfaction-box-product-page p {
  margin: 0;
}

.fabric-details-box-product-page {
  padding: 1em;
  text-align: center;
  font-weight: bold;
}

.fabric-details-box-product-page p {
  margin: 0;
}

.accordion-item:first-of-type .accordion-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.accordion-item:last-of-type {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.accordion-item:first-of-type {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.accordion-item {
  border: 2px 2px 0px 2px solid #000;
  border-color: #000 !important;
  border-width: 2px 2px 2px 2px !important;
  border-style: solid;
}

.accordion-button {
  font-weight: bold !important;
}

.last-button button {
  background-color: transparent;
  border: none;
  padding: 5px 0px;
}

.last-button p,
.last-button a {
  font-size: 12px;
  margin: 0;
  color: #000;
}

.accordion-button:not(.collapsed),
.accordion-body {
  color: #000 !important;
  background-color: #f7f8f9 !important;
  box-shadow: none !important;
}

.last-button a:hover {
  font-size: 12px;
  margin: 0;
  color: #272727;
}

.accordion {
  --bs-accordion-color: #212529;
  --bs-accordion-bg: #fff;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-border-radius: 0.375rem;
  --bs-accordion-inner-border-radius: calc(0.375rem - 1px);
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E") !important;
  --bs-accordion-btn-icon-width: 1.25rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 -960 960 960' width='24'%3E%3Cpath d='M480-360 280-560h400L480-360Z'/%3E%3C/svg%3E") !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
}

@media (max-width: 992px) {
  .text-xs-start {
    text-align: left;
  }
}

@media (max-width: 768px) {
  .product-container {
    width: 100%;
    padding-top: 3.5rem !important;
  }

  .product-image-container {
    width: 80%;
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .tooltiptext-custom {
    position: absolute;
    top: auto;
    left: auto;
    transform: none;
    margin-top: 10px;
    width: 90%;
    max-width: 300px;
  }

  .main-product .btn-primary {
    width: 100% !important;
    font-size: 1em;
  }
}
